<h1>Kyynärä<sub>Letku, Tammela, Suomi</sub></h1>

<p>
<a class="button" href="https://ilmatieteenlaitos.fi/saa/tammela/letku?forecast=short">Lähituntien sää</a><br>
<a class="button" href="https://ilmatieteenlaitos.fi/saa/tammela/letku">Lähipäivien sää</a><br>
<a class="button" href="https://testbed.fmi.fi/?imgtype=radar&t=5&n=15">Sadetutka</a><br>
<a class="button" href="http://ilmatieteenlaitos.fi/avaruussaa">Avaruussää</a>
<a class="button" href="https://retkikartta.fi/index.php?id=850">Retkikartta.fi</a>
</p>
